CompileFlags:
  Add:
    - "-std=gnu++23"
    - "-fvisibility=hidden"
    - "-fno-stack-protector"
  CompilationDatabase: ./compile_commands.json

Diagnostics:
  Suppress:
    - "include-cleaner"

Index:
  Background: Skip # Faster startup
